.text-styles{
  font-size: 20px;
  font-weight: bolder;
  color: green;
}

.container{
  margin: 5%;
  ion-item{
    color: green;
    font-weight: bolder;
  }
}

.top{
  margin-top: 20%;
}
