<ion-content class="ion-padding">
  <div align="center">
    <h2 style="color: green"><strong>FEEDBACK</strong></h2>
    <small>We want to know about your thoughts of your experience at Plantastic so we'd love to hear your feedback</small>
  </div>
  <div class="ion-margin">
    <ion-list lines="none" >
      <ion-item color="light" class="ion-margin-top">
        <ion-input placeholder="Name"></ion-input>
      </ion-item>
      <ion-item color="light" class="ion-margin-top">
        <ion-input placeholder="Email"></ion-input>
      </ion-item>
      <ion-item color="light" class="ion-margin-top">
        <ion-textarea autoGrow placeholder="Your Comments">
        </ion-textarea>
      </ion-item>
      <ion-button color="success" expand="block" shape="round">Send Feedback</ion-button>
    </ion-list>
  </div>
</ion-content>
